body {
  max-width: 900px;
  margin: auto;
  font-family: sans-serif;
  background-color: black;
}

header {
  background-color: burlywood;
  display: flex;
  justify-content: space-around;
  padding: 20px
}

h1#app-title {
  font-size: 36px;
  font-family: ;
  /* display: flex;
  justify-content: flex-start; */
  display: flex;
}

div#about {
  display: flex;
  justify-content: flex-end;
  /* border-color: black;
  border-style: solid; */
  width: 300px;
  animation-duration: 2s;
  /* animation-name: slidein; */
  background-color: aquamarine;

}
  @keyframes slidein {
    from {
      margin-top: 200px;
      width: 100%;
    }
    75% {
      font-size: 200%;
      margin-bottom: 100px;
    }
    to {
      margin-bottom: 0px;
      width: 200%;
    }
  }

form#recommendation-form {
  display: flex;
  flex-direction: row;
}

div#style {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;

}

div#alignment {
  display: flex;
  flex-direction: row;
}

div#step-1 {
  background-color: blueviolet;
  width: 350px;

}

#oil-pattern-dropdown {
  width: 350px;
  height: 30px;
  padding-bottom: 5px;
  border-color: black;
  border-width: 2px;
}

p.instructions {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
  color: red;
  font-weight: bolder;
  animation-duration: 3s;
  animation-name: bounce;
}

  @keyframes bounce {
    
  }

img#oil-pattern-image {
  width: 350px;
  height: 425px;
  object-fit: cover;

}

div#step-2 {
  background-color: gold;
  height: 100px;
  align-items: center;
}


div#step-3 {
  background-color: aqua;
}

div#step-4 {
  background-color: violet;
}

div#step-5 {
  background-color: teal;
  width: 350px;

}

div#center-ball {
  display: flex;
  justify-content: center; 
  align-items: column;
}

img#ball-image {
  width: 250px;
  height: 250px;
  object-fit: cover;

}

div#ball-info {
  background-color: lightsalmon;
  width: 200px;
  height: 100px;
  /* display: flex;
  justify-content: center; 
  align-items: column; */
}

div#arsenal-list {
    background-color: chartreuse;
    width: auto;
    height: 75px;
}

label {
  
}

