body {
  max-width: 700px;
  margin: auto;
  font-family: ;
}

header {
  background-color: burlywood;
}

/* h1#app-title {

}

div#about {

}

form#recommendation-form {

}

div#step-1 {
  background-color: blueviolet;
}

p.instructions {
  color: red;
  font-weight: bold;
}

div#oil-pattern-image {

}

div#step-2 {
  background-color: gold;
}

div#step-3 {
  background-color: aqua;
}

div#step-4 {
  background-color: violet;
}

div#step-5 {
  background-color: teal;
}

img#ball-image {

}

div#arsenal-list {
    background-color: chartreuse;
}

label {

} */

